.Vboxbutton:hover {
  -fx-cursor: hand;
  -fx-background-color: #343a40ff;
}

.Vboxbutton:pressed {
  
}

.scrollPane > .viewport {
  -fx-background: #343a40;
  -fx-padding: 0;
}

.scrollPane {
  -fx-padding: 0;
}

.iconArrow {
  -fx-background-color: #212529;
  -fx-position-shape: false;
  -fx-shape: "M201 4543 c-97 -35 -169 -149 -159 -253 10 -105 -23 -72 1063 -1059
  558 -508 1015 -927 1015 -931 0 -5 -457 -423 -1015 -931 -820 -745 -1019 -931
  -1037 -967 -105 -217 125 -444 336 -331 25 13 551 485 1170 1048 913 831 1130
  1033 1149 1070 31 63 31 159 0 222 -19 37 -235 238 -1149 1070 -628 571 -1145
  1035 -1171 1048 -57 31 -141 37 -202 14z";
}

.iconArrow:hover {
-fx-cursor: hand;
-fx-background-color:  #454d55;
}

.calendarElement {
-fx-background-color: rgba(255, 255, 255, 0.8);
-fx-background-radius: 2;

}
.calendarElement:hover {
  -fx-background-color: rgba(255, 255, 255);
  -fx-background-radius: 2;
}

.calendarElementWeekend {
-fx-background-color: rgba(216, 216, 216, 0.8);
-fx-background-radius: 2;
}
.calendarElementWeekend:hover {
-fx-background-color: rgba(216, 216, 216);
-fx-background-radius: 2;
}

.calendarSelecting {
  -fx-background-color: rgba(7, 7, 7, 0.3);
  -fx-background-radius: 3;
  -fx-font-size: 16;
  -fx-text-fill: rgba(255, 255, 255, 1);
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.calendarElementNext {
  -fx-background-color: rgba(131, 131, 131, 0.8);
  -fx-background-radius: 2;
}
  .calendarElementNext:hover {
  -fx-background-color: rgb(160, 160, 160);
  -fx-background-radius: 2;
 }

.calendarScrollpane {
  -fx-padding: 0;
  -fx-background-color: transparent;
}

.calendarScrollpane .viewport {
  -fx-background-color: transparent;
  -fx-padding: 0;
}

.background {
  -fx-background-image: url('../../../../img/CalendarBackground.png');
  -fx-opacity: 0.5;
  -fx-background-position: 0px 0px; 
}

.backgroundNumbers {
  -fx-background-image: url('../../../../img/numbers.png');
  -fx-opacity: 0.8;
  -fx-background-position: 0px 0px; 
}

.week {
  -fx-background-color:  #e2e7eb;
  -fx-font-weight: bold;
  -fx-text-fill: black;
}

.booking {
  -fx-background-radius: 5;
            /*dropshadow( <blur-type> , <color> , <radius> , <spread> , <x direction> , <y direction> )*/
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
  -fx-cursor: hand;
  -fx-font-size: 16;
}

.booking:hover {
  -fx-border-color: black;
}

.errorButton {
  -fx-cursor: hand;
  -fx-border-color: white;
  -fx-border-width: 2;
  -fx-background-radius: 0;
  -fx-background-color: transparent;
  -fx-text-fill: white;
}

.maximize {
  -fx-cursor: hand;
  -fx-shape: "M481.354,263.904v166.979c0,28.88-23.507,52.369-52.387,52.369H53.646c-28.889,0-52.393-23.489-52.393-52.369V55.969
  c0-28.877,23.504-52.372,52.393-52.372h167.428c-9.014,9.247-15.004,21.45-16.319,35.007H53.64c-9.582,0-17.377,7.79-17.377,17.365
  v374.914c0,9.575,7.796,17.366,17.377,17.366h375.322c9.581,0,17.378-7.791,17.378-17.366V280.199
  C459.515,278.935,471.744,273.267,481.354,263.904z M277.895,52.52h114.456L207.086,237.79c-10.255,10.249-10.255,26.882,0,37.132
  c10.252,10.255,26.879,10.255,37.131,0.006L429.482,89.657v114.462c0,14.502,11.756,26.256,26.261,26.256
  c7.247,0,13.813-2.929,18.566-7.687c4.752-4.764,7.689-11.319,7.689-18.569V26.256C481.999,11.754,470.249,0,455.743,0H277.895
  c-14.499,0-26.256,11.754-26.256,26.262C251.633,40.764,263.396,52.52,277.895,52.52z";
}

.check {
  -fx-cursor: hand;
  -fx-background-color: green;
  -fx-shape: "M 191.2832 0.68359375 C 179.19987 0.33359375 167.13268 0.73333333 158.66602 2 C 95.066016 11.6 38.79974 56.266146 15.066406 116.13281 C 8.2664063 133.19948 5.8673177 142.13398 3.3339844 159.33398 C -1.3326823 191.73398 2.5335938 223.06706 14.933594 254.40039 C 33.333594 300.66706 70.133984 337.46693 117.33398 356.93359 C 140.80065 366.53359 159.06732 369.86719 187.33398 369.86719 C 207.06732 369.73385 212.00013 369.33281 225.4668 366.13281 C 297.4668 349.59948 350.80013 296.39935 367.4668 224.66602 C 370.6668 210.53268 371.06589 206 371.19922 186 C 371.19922 157.06667 368.40039 141.59935 358.40039 116.66602 C 335.46706 59.199349 284.26667 16.267188 224 3.8671875 C 215.46667 2.1338542 203.36654 1.0335938 191.2832 0.68359375 z M 190.4668 36.333984 C 202.90013 36.700651 215.46602 38.133203 224.66602 40.533203 C 240.53268 44.666536 263.73424 55.733984 276.26758 65.333984 C 302.80091 85.467318 322.79961 115.33333 331.59961 148 C 334.93294 160.8 335.33398 164.00065 335.33398 185.33398 C 335.20065 206.53398 334.93294 209.86576 331.59961 221.73242 C 323.73294 250.13242 311.46667 271.73359 292 290.93359 C 264.8 317.86693 231.99935 332.40091 194.66602 334.26758 C 161.06602 335.86758 132.26758 328.13424 104.26758 310.26758 C 92.667578 302.66758 75.59987 286.66745 66.533203 274.80078 C 57.19987 262.26745 45.999089 239.06732 41.732422 223.33398 C 38.399089 211.06732 38.132813 208.00065 38.132812 185.33398 C 38.132812 162.80065 38.399089 159.60065 41.732422 147.33398 C 45.599089 133.06732 54.134245 113.86628 62.267578 101.59961 C 69.467578 90.666276 89.333724 70.666927 100.40039 62.933594 C 118.40039 50.533594 135.06641 43.333203 157.06641 38.533203 C 165.73307 36.666536 178.03346 35.967318 190.4668 36.333984 z M 276.08984 100.17383 C 273.85026 100.15091 271.56732 100.5668 269.33398 101.4668 C 267.60065 102.2668 238.26706 130.53372 204.40039 164.40039 C 170.40039 198.26706 142.00065 226.13372 141.33398 226.40039 C 140.53398 226.66706 133.33398 220.39987 125.33398 212.5332 C 117.20065 204.66654 108.93359 197.06576 106.93359 195.73242 C 98.80026 190.39909 87.19987 194.13294 82.533203 203.59961 C 77.466536 214.13294 79.200911 217.06732 106.26758 243.33398 C 131.86758 268.13398 136.66745 271.59948 144.80078 270.13281 C 149.46745 269.19948 157.46628 261.59961 221.59961 197.59961 C 300.39961 118.66628 297.86654 121.99974 292.5332 111.06641 C 289.1332 104.26641 282.80859 100.24258 276.08984 100.17383 z"
}

.uncheck {
  -fx-cursor: hand;
  -fx-background-color: red;
  -fx-shape: "M 190.2793 0.67578125 C 183.41862 0.55651042 176.51628 0.81679688 169.59961 1.4667969 C 91.732943 8.6667969 25.999349 64.800781 6.6660156 140.80078 C -15.067318 225.73411 24.400911 313.19974 102.26758 353.06641 C 117.73424 360.93307 133.60065 366.79948 149.33398 370.13281 C 165.20065 373.59948 207.86628 373.73424 223.59961 370.26758 C 298.39961 354.13424 354.40091 298.26667 370.26758 224 C 372.13424 215.2 372.66602 206.8 372.66602 186 C 372.53268 161.6 372.26693 158.13307 368.93359 145.06641 C 360.00026 109.19974 343.86641 80.399609 319.06641 55.599609 C 284.29974 20.949609 238.30404 1.5106771 190.2793 0.67578125 z M 186.68359 36.230469 C 194.25859 36.240885 201.93242 36.833333 209.73242 38 C 298.93242 51.466667 357.19935 141.33294 332.66602 227.59961 C 325.33268 253.06628 311.46706 276.26745 292.40039 294.80078 C 262.80039 323.60078 228.00065 337.86719 187.33398 337.86719 C 161.33398 337.86719 143.33268 333.7332 120.66602 322.5332 C 84.532682 304.79987 56.8 273.20026 44 234.93359 C 26.533333 182.66693 38.667448 126.39948 76.800781 84.132812 C 86.534115 73.199479 105.46654 59.333333 120.5332 52 C 142.1332 41.4 163.95859 36.199219 186.68359 36.230469 z M 104.80078 88 C 99.067448 88 97.732552 88.532552 93.199219 93.199219 C 88.399219 97.865885 88 98.933464 88 105.4668 L 88 112.5332 L 124.93359 149.59961 L 162 186.66602 L 127.19922 221.73242 C 107.99922 240.93242 91.332813 258.13333 90.132812 260 C 87.199479 264.4 87.466016 273.06758 90.666016 278.26758 C 94.266016 284.26758 100.39909 287.06758 107.73242 286.26758 C 113.46576 285.60091 114.93385 284.40013 149.86719 249.4668 C 169.73385 229.60013 186.66732 213.33398 187.33398 213.33398 C 188.13398 213.33398 204.66667 229.33411 224 248.80078 C 243.46667 268.26745 260.66706 284.80013 262.40039 285.4668 C 275.06706 290.40013 287.86758 280.40026 286.26758 266.93359 C 285.60091 261.20026 284.40013 259.73411 249.4668 224.80078 C 229.60013 204.93411 213.33398 188.00065 213.33398 187.33398 C 213.33398 186.53398 228.93281 170.40065 248.13281 151.33398 C 267.19948 132.26732 283.73411 115.06641 284.80078 113.06641 C 288.93411 105.33307 285.20065 93.732422 277.33398 89.732422 C 272.66732 87.332422 263.86667 87.599479 260 90.132812 C 258.13333 91.332812 240.93294 107.99922 221.59961 127.19922 L 186.66602 162 L 150.93359 126.26758 C 131.33359 106.66758 114.40065 90.000651 113.33398 89.333984 C 112.26732 88.667318 108.40078 88 104.80078 88 z"
}

.high {
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: red;
  -fx-font-size: 15;
}

.normal {
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: orange;
  -fx-font-size: 15;
}

.statusDirty {
  -fx-background-color:  #ff726f;
  -fx-border-color: red;
  -fx-border-radius: 3;
  -fx-background-radius: 3;
  -fx-font-weight: bold;
  -fx-font-size: 15;
}

.statusClean {
  -fx-background-color: #90EE90;
  -fx-border-color: green;
  -fx-border-radius: 3;
  -fx-background-radius: 3;
  -fx-font-weight: bold;
  -fx-font-size: 15;
}

.row {
  -fx-border-width:  0 0 0.5 0;
  -fx-border-color: white white white white;
}

.printIcon {
  -fx-background-color: white;
  -fx-shape: "M 253.33398 1.7324219 C 145.60065 1.3324219 138.93424 1.4671875 132.26758 3.8671875 C 124.13424 6.6671875 117.06641 12.000521 111.06641 19.867188 C 102.79974 30.667187 102.66602 31.732943 102.66602 109.59961 L 102.66602 180 L 92 180 L 81.333984 180 L 81.333984 245.33398 L 81.333984 310.66602 L 282.66602 310.66602 L 484 310.66602 L 484 245.33398 L 484 180 L 472 180 L 460 180 L 460 141.59961 C 460 100.26628 459.20078 93.867057 452.80078 84.400391 C 451.06745 82.000391 434.66758 64.134115 416.26758 44.800781 C 388.13424 15.200781 381.46641 8.9324219 375.06641 5.7324219 L 367.33398 2 L 253.33398 1.7324219 z M 139.06641 22.666016 L 246 22.666016 C 352.26667 22.666016 352.9332 22.666797 356.5332 25.466797 C 362.9332 30.533464 363.33333 32.399349 364 62.666016 C 364.66667 89.999349 364.79909 91.599089 367.73242 95.732422 C 373.46576 103.73242 376.66758 104.53398 404.26758 105.33398 L 429.33398 106 L 433.59961 110.40039 L 438 114.66602 L 438.40039 160.66602 L 438.80078 206.66602 L 281.33398 206.66602 L 124 206.66602 L 124 122.13281 L 124 37.732422 L 127.06641 33.199219 C 128.66641 30.799219 132.1332 27.332422 134.5332 25.732422 L 139.06641 22.666016 z M 500 187.73242 L 500 257.19922 L 500 326.66602 L 282.66602 326.66602 L 65.333984 326.66602 L 65.333984 257.33398 L 65.333984 188 L 44.400391 188 C 30.000391 188.13333 21.732813 188.66667 18.132812 190 C 11.332812 192.4 4.2660156 199.33398 2.6660156 205.33398 C 1.8660156 208.26732 1.3339844 253.86628 1.3339844 325.59961 L 1.3339844 441.33398 L 52 441.33398 L 102.66602 441.33398 L 102.66602 487.06641 C 102.66602 538.79974 103.06667 541.86589 112 553.19922 C 115.73333 557.86589 119.73424 561.06758 126.26758 564.26758 L 135.33398 568.66602 L 281.33398 568.66602 C 422.00065 568.66602 427.6 568.53281 434 566.13281 C 442.66667 562.79948 452.26615 553.60026 456.13281 544.93359 C 459.33281 538.13359 459.33242 537.19961 459.73242 489.59961 L 460.13281 441.33398 L 512.13281 441.33398 L 564 441.33398 L 563.73242 322.26758 C 563.33242 190.00091 563.86706 198.53242 554.40039 191.73242 C 550.26706 188.79909 548.66641 188.66758 525.06641 188.26758 L 500 187.73242 z M 510.66602 388 L 521.33398 388 L 532 388 L 532 398.66602 L 532 409.33398 L 521.33398 409.33398 L 510.66602 409.33398 L 510.66602 398.66602 L 510.66602 388 z M 124 390.66602 L 281.33398 390.66602 L 438.66602 390.66602 L 438.66602 462.26758 C 438.66602 531.46758 438.53333 534.13372 436 538.40039 C 434.53333 540.80039 431.46641 543.86732 429.06641 545.33398 C 424.79974 548.00065 422.00091 548 282.26758 548 C 141.60091 548 139.86654 548.00065 134.5332 545.33398 C 131.59987 543.73398 127.99935 540.66758 126.66602 538.26758 C 124.13268 534.13424 124 531.06758 124 462.26758 L 124 390.66602 z M 166.66602 422.66602 L 166.66602 433.33398 L 166.66602 444 L 282.66602 444 L 398.66602 444 L 398.66602 433.33398 L 398.66602 422.66602 L 282.66602 422.66602 L 166.66602 422.66602 z M 166.66602 476 L 166.66602 486.66602 L 166.66602 497.33398 L 282.66602 497.33398 L 398.66602 497.33398 L 398.66602 486.66602 L 398.66602 476 L 282.66602 476 L 166.66602 476 z"
}

.deleteIcon {
  -fx-background-color: white;
  -fx-shape: "M 63.333984 1.3339844 C 55.867318 1.3339844 51.333333 1.9990885 48 3.7324219 C 44.933333 5.1990885 42.399349 7.866276 40.666016 11.599609 L 38.132812 17.333984 L 29.333984 17.333984 C 17.867318 17.333984 11.600781 19.199479 6.8007812 24.132812 C -0.26588542 31.199479 -0.40065104 46.266667 6.6660156 48 L 10 48.800781 L 10.666016 95.333984 C 11.466016 148.00065 11.199479 146.53333 22.132812 152 C 27.066146 154.53333 30.133464 154.66602 63.466797 154.66602 C 96.00013 154.66602 99.866927 154.4 104.93359 152 C 108.26693 150.53333 111.73398 147.59974 113.33398 145.06641 C 115.86732 140.93307 116 138.40026 116 94.933594 C 116 52.533594 116.13372 49.19987 118.40039 48.533203 C 123.60039 46.933203 124.66641 45.600911 125.06641 40.267578 C 125.59974 32.800911 121.33372 23.467448 116.40039 20.800781 C 114.13372 19.734115 107.73411 18.667057 100.80078 18.400391 L 89.066406 17.867188 L 86.132812 12 C 82.266146 3.7333333 77.067318 1.3339844 63.333984 1.3339844 z M 63.333984 12 C 70.000651 12 74.799089 12.666276 75.732422 13.599609 C 78.932422 16.799609 77.067318 17.333984 63.333984 17.333984 C 55.600651 17.333984 49.333984 16.800911 49.333984 16.267578 C 49.333984 13.200911 53.333984 12 63.333984 12 z M 63.066406 28 C 102.26641 28 109.19909 28.266146 111.73242 30.132812 C 113.33242 31.199479 114.66602 33.60013 114.66602 35.466797 L 114.66602 38.666016 L 63.333984 38.666016 C 12.933984 38.666016 12 38.666667 12 36 C 12 34.533333 13.199349 32.132682 14.666016 30.666016 C 17.199349 28.132682 19.066406 28 63.066406 28 z M 63.599609 48.800781 L 106 49.066406 L 106 94 L 106 138.93359 L 102.80078 141.4668 C 99.867448 143.8668 97.2 144 64 144 C 44.266667 144 27.2 143.59922 26 143.19922 C 20.533333 141.06589 20 136.80091 20 92.267578 C 20 68.934245 20.266536 49.465885 20.533203 49.199219 C 20.79987 48.932552 40.266276 48.800781 63.599609 48.800781 z M 42.066406 67.982422 C 40.266406 67.899089 38.333984 68.733203 37.333984 70.533203 C 36.533984 72.133203 36 83.332943 36 97.599609 C 36 124.26628 36.667448 127.33372 42.800781 126.40039 L 46 126 L 46.400391 100 C 46.533724 85.733333 46.4 72.666927 46 70.933594 C 45.533333 69.066927 43.866406 68.065755 42.066406 67.982422 z M 85.333984 68 C 84.000651 68 82.266797 68.800521 81.466797 69.867188 C 80.40013 71.067187 80.000911 79.733333 80.267578 98 C 80.667578 121.46667 80.933073 124.53385 83.066406 125.86719 C 84.666406 126.93385 85.999089 126.93385 87.732422 125.86719 C 89.732422 124.53385 90.000391 121.46667 90.400391 98 C 90.800391 70.8 90.267318 68 85.333984 68 z M 62.089844 68.212891 C 60.683594 68.300391 59.633984 68.799609 59.333984 69.599609 C 58.933984 70.532943 58.80026 83.732682 58.933594 98.666016 L 59.333984 126 L 63.333984 126 C 67.067318 126 67.333333 125.59935 68 120.66602 C 68.4 117.73268 68.4 104.8 68 92 L 67.333984 68.666016 L 63.599609 68.267578 C 63.066276 68.200911 62.558594 68.183724 62.089844 68.212891 z"
}

.notisContainer {
  -fx-background-color: #343a40;
  -fx-background-insets: 7;
  -fx-background-radius: 4 4 4 4;
  -fx-padding: 10 10 7 7;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 7, 0, 0, 0);
}

.notisProgress-bar .bar {
  -fx-background-color: #0e73b5;
  -fx-background-insets: 0, 1, 2;
}

.notisProgress-bar > .track {
  -fx-opacity: 0.0;
}

/*   Icons:   */
.iconReservation {
  -fx-shape: "m 119.508,56.942 v 56.942 H 59.754 -1.2038299e-8 V 271.002 428.12 H 70.638 141.275 l 0.189,-35.502 0.188,-35.501 -30.404,10e-4 H 80.844 v -13.006 -13.005 h 30.931 30.932 v -5.624 -5.624 H 111.775 80.844 l 0.009,-11.423 c 0.005,-6.283 0.191,-12.098 0.412,-12.922 l 0.402,-1.497 40.324,-0.281 c 22.178,-0.154 40.484,-0.44 40.679,-0.636 0.196,-0.196 0.578,-8.624 0.849,-18.73 0.574,-21.387 -0.662,-19.161 10.646,-19.176 l 7.206,-0.009 v -5.624 -5.624 h -9.139 -9.139 V 230.228 216.52 l 30.756,0.004 c 16.915,0.002 33.84,0.208 37.61,0.457 l 6.854,0.454 v 2.355 2.354 h 5.624 5.624 v -2.356 -2.356 l 5.799,-0.452 c 3.19,-0.248 20.115,-0.453 37.61,-0.456 l 31.81,-0.004 v 7.03 7.03 h 16.521 16.52 V 115.29 0 H 238.664 119.508 V 56.942 M 86.467,18.103 c -8.699,9.167 -17.573,18.571 -19.719,20.899 -8.945,9.7 -36.955,39.55 -47.921,51.07 -6.489,6.816 -11.797,12.589 -11.797,12.83 0,0.24 21.669,0.437 48.155,0.437 h 48.154 V 52.373 c 0,-28.032 -0.237,-50.96 -0.527,-50.952 -0.29,0.008 -7.645,7.515 -16.345,16.682 M 324.78,154.306 v 13.005 H 178.91 33.04 v -13.005 -13.005 h 145.87 145.87 v 13.005 m -173.408,26.01 c 0.23,1.101 0.133,13.108 -0.192,23.726 -0.035,1.155 -2.173,1.23 -34.748,1.23 h -34.71 l -0.439,-2.196 c -0.675,-3.377 -0.521,-21.645 0.194,-22.982 1.078,-2.014 69.473,-1.797 69.895,0.222 m 86.691,-0.791 c 0.186,0.163 0.443,15.489 0.346,20.651 l -0.096,5.096 h -37.259 -37.258 v -12.998 -12.999 l 35.677,-0.182 c 30.626,-0.157 38.009,-0.074 38.59,0.432 m 50.922,-0.263 h 35.092 v 13.005 13.005 h -37.202 -37.203 l -0.232,-5.448 c -0.7,-16.502 0.191,-21.782 3.517,-20.83 0.515,0.147 16.728,0.268 36.028,0.268 M 63.972,192.267 v 13.005 H 48.953 33.935 l -0.448,-3.261 c -0.575,-4.2 -0.575,-15.288 0,-19.488 l 0.448,-3.261 h 15.018 15.019 v 13.005 m -0.879,24.696 c 1.57,0.421 1.582,0.527 1.582,13.699 v 13.275 H 48.858 33.04 v -13.305 c 0,-12.081 0.114,-13.335 1.231,-13.627 1.871,-0.489 27.017,-0.525 28.822,-0.042 m 87.816,0.493 c 0.322,0.321 0.683,6.411 0.804,13.532 l 0.219,12.949 H 116.809 81.685 l -0.511,-8.18 c -0.743,-11.89 0.044,-18.133 2.366,-18.78 2.091,-0.583 66.766,-0.123 67.369,0.479 m 102.167,18.726 c -18.288,3.864 -21.109,4.755 -32.689,10.318 -15.216,7.31 -40.172,32.09987 -40.81262,33.70975 -0.1479,0.37165 -0.94577,1.09916 -1.5395,2.2465 0,0 -1.13934,1.4773 -2.143,3.039 -1.65,1.827 -7.53588,12.46775 -8.25988,14.83675 -0.269,0.881 -1.152,3.025 -1.962,4.765 -0.811,1.74 -1.532,3.638 -1.602,4.218 -0.071,0.58 -0.769,2.952 -1.551,5.272 -1.293,3.832 -2.071,7.306 -3.701,16.52 -2.048,11.572 -0.043,36.591 3.801,47.452 0.822,2.32 1.502,4.556 1.512,4.97 0.037,1.497 6.269,14.814 9.034,19.306 4.018,6.525 10.725,15.678 12.193,16.64 0.902,0.59 1.639,1.341 1.639,1.667 0,0.327 1.635,2.11 3.635,3.962 1.999,1.852 4.625,4.344 5.837,5.537 10.179,10.029 30.815,20.076 50.633,24.651 8.261,1.907 37.523,1.895 45.694,-0.019 23.984,-5.617 39.425,-14.027 55.888,-30.44 7.619,-7.596 8.037,-8.052 10.859,-11.851 1.14,-1.534 2.353,-2.982 2.696,-3.219 0.344,-0.236 0.613,-0.711 0.598,-1.054 -0.014,-0.344 0.428,-1.257 0.984,-2.031 2.477,-3.445 4.726,-7.053 4.827,-7.742 0.061,-0.413 0.813,-1.943 1.672,-3.399 0.86,-1.456 1.562,-2.938 1.562,-3.294 0,-0.356 0.764,-2.316 1.697,-4.354 9.495,-20.742 10.355,-53.649 2.024,-77.52 -3.049,-8.735 -3.808,-10.659 -5.342,-13.525 -0.671,-1.253 -1.186,-2.483 -1.145,-2.733 0.041,-0.251 -0.225,-0.65 -0.59,-0.887 -0.366,-0.236 -1.221,-1.537 -1.901,-2.89 -0.679,-1.353 -2.005,-3.489 -2.946,-4.745 -0.94,-1.257 -1.536,-2.285 -1.323,-2.285 0.213,0 -0.166,-0.586 -0.843,-1.303 -0.676,-0.717 -2.62,-3.087 -4.319,-5.268 -8.585,-11.019 -25.365,-24.429 -37.955,-30.332 -10.557,-4.95 -16.484,-6.895 -27.981,-9.183 -8.884,-1.767 -31.777,-2.388 -38.18,-1.036 M 63.972,268.19 v 13.005 H 48.953 33.935 l -0.448,-3.261 c -0.592,-4.321 -0.575,-21.684 0.022,-22.281 0.258,-0.258 7.217,-0.468 15.466,-0.468 h 14.997 v 13.005 m 87.715,-0.404 c 0.106,6.738 -0.057,12.5 -0.362,12.805 -0.305,0.305 -16.209,0.589 -35.342,0.631 l -34.788,0.077 -0.191,-13.064 -0.191,-13.063 35.34,0.182 35.341,0.182 0.193,12.25 m 130.054,43.462 -0.194,22.32 22.319,-0.195 22.32,-0.195 v 12.673 12.673 h -22.144 -22.144 v 21.792 21.793 H 269.244 256.591 V 380.316 358.524 H 234.446 212.302 V 345.87 333.216 h 22.144 22.145 v -22.144 -22.144 h 12.672 12.673 l -0.195,22.32 M 63.972,306.427 c 0,10.822 -0.155,12.639 -1.112,13.006 -1.44,0.552 -23.057,0.541 -26.412,-0.014 l -2.568,-0.424 -0.494,-6.246 c -0.272,-3.436 -0.269,-9.093 0.006,-12.573 l 0.501,-6.327 h 15.039 15.04 v 12.578 m 0.703,37.685 v 13.006 H 48.858 33.04 v -13.006 -13.005 h 15.818 15.817 v 13.005";
}
.iconReservation2 {
  -fx-shape: "m 133.595,63.654 v 63.654 H 66.798 0 V 302.947 478.585 H 200 400 V 239.293 0 H 266.798 133.595 V 63.654 M 96.66,20.237 c -9.725,10.247 -19.645,20.76 -22.044,23.362 -9.999,10.844 -41.311,44.213 -53.57,57.091 -7.253,7.619 -13.187,14.073 -13.187,14.342 0,0.269 24.224,0.489 53.831,0.489 h 53.831 V 58.546 c 0,-31.336 -0.267,-56.967 -0.591,-56.958 -0.324,0.009 -8.545,8.401 -18.27,18.649 m 266.405,152.258 v 14.538 H 200 36.935 V 172.495 157.957 H 200 363.065 v 14.538 m -193.849,29.077 c 0.257,1.23 0.148,14.652 -0.215,26.522 -0.04,1.291 -2.43,1.376 -38.844,1.376 H 91.356 l -0.492,-2.456 c -0.754,-3.775 -0.582,-24.197 0.218,-25.69 1.205,-2.252 77.662,-2.009 78.134,0.248 m 96.909,-0.885 c 0.209,0.182 0.496,17.315 0.387,23.085 l -0.107,5.698 h -41.651 -41.65 v -14.532 -14.531 l 39.882,-0.203 c 34.237,-0.175 42.49,-0.083 43.139,0.483 m 56.926,-0.294 h 39.228 v 14.538 14.539 h -41.588 -41.588 l -0.259,-6.091 c -0.783,-18.447 0.213,-24.35 3.931,-23.286 0.576,0.165 18.7,0.3 40.276,0.3 M 71.513,214.931 V 229.47 H 54.724 37.935 l -0.5,-3.646 c -0.644,-4.695 -0.644,-17.09 0,-21.785 l 0.5,-3.646 h 16.789 16.789 v 14.538 m -0.983,27.608 c 1.755,0.47 1.769,0.588 1.769,15.313 v 14.84 H 54.617 36.935 v -14.874 c 0,-13.505 0.127,-14.907 1.375,-15.233 2.092,-0.547 30.203,-0.587 32.22,-0.046 m 98.168,0.55 c 0.359,0.359 0.764,7.167 0.899,15.128 l 0.245,14.475 H 130.578 91.314 l -0.571,-9.144 c -0.831,-13.292 0.048,-20.271 2.644,-20.994 2.338,-0.652 74.636,-0.138 75.311,0.535 m 89.99,-0.534 7.608,0.504 0.251,6.713 c 0.138,3.692 0.139,10.36 0.004,14.816 l -0.247,8.104 h -41.993 -41.993 v -15.325 -15.324 l 34.381,0.004 c 18.91,0.003 37.805,0.231 41.989,0.508 m 104.377,14.685 v 15.197 l -37.132,0.522 c -32.316,0.455 -45.264,0.113 -46.608,-1.23 -0.243,-0.244 -0.514,-16.049 -0.411,-23.949 l 0.064,-4.872 4.519,-0.284 c 2.485,-0.156 21.405,-0.35 42.043,-0.432 l 37.525,-0.149 V 257.24 M 71.513,299.804 v 14.538 H 54.724 37.935 l -0.5,-3.646 c -0.662,-4.83 -0.643,-24.24 0.024,-24.907 0.288,-0.288 8.068,-0.524 17.289,-0.524 h 16.765 v 14.539 m 98.054,-0.452 c 0.119,7.532 -0.063,13.973 -0.404,14.314 -0.341,0.341 -18.12,0.659 -39.509,0.706 l -38.888,0.085 -0.214,-14.603 -0.213,-14.603 39.506,0.203 39.507,0.204 0.215,13.694 m 96.838,0.452 v 14.538 h -41.651 -41.65 v -14.088 c 0,-12.756 0.13,-14.122 1.375,-14.447 0.757,-0.198 19.499,-0.4 41.651,-0.451 l 40.275,-0.091 v 14.539 m 94.106,-14.043 c 1.75,0.469 1.768,0.617 1.768,14.527 v 14.054 h -38.004 c -20.903,0 -39.645,0.225 -41.651,0.5 l -3.646,0.499 v -15.038 -15.038 l 39.883,0.011 c 21.935,0.006 40.677,0.224 41.65,0.485 M 71.513,342.549 c 0,12.097 -0.174,14.127 -1.243,14.538 -1.609,0.617 -25.775,0.605 -29.526,-0.015 l -2.87,-0.475 -0.553,-6.982 c -0.304,-3.84 -0.301,-10.165 0.007,-14.055 l 0.56,-7.073 H 54.7 71.513 v 14.062 m 97.823,-8.364 c 0.281,3.133 0.399,9.587 0.263,14.342 l -0.247,8.644 -39.49,0.204 -39.489,0.203 0.011,-12.777 c 0.006,-7.028 0.224,-13.573 0.485,-14.546 l 0.473,-1.768 h 38.742 38.741 l 0.511,5.698 m 97.069,8.841 v 14.538 l -38.704,-0.009 c -21.286,-0.005 -40.029,-0.228 -41.65,-0.496 l -2.947,-0.487 V 342.53 328.487 h 41.65 41.651 v 14.539 m 95.874,-0.5 v 14.038 l -3.646,0.5 c -2.005,0.275 -20.748,0.5 -41.65,0.5 h -38.005 v -14.538 -14.539 h 41.651 41.65 v 14.039 m -289.98,42.15 v 14.538 H 54.617 36.935 v -14.538 -14.538 h 17.682 17.682 v 14.538 m 97.446,0 v 14.538 H 130.059 90.373 v -14.538 -14.538 h 39.686 39.686 v 14.538 m 96.66,0 v 14.538 h -42.044 -42.043 v -14.538 -14.538 h 42.043 42.044 v 14.538 m 96.66,0 v 14.538 h -42.043 -42.044 v -14.538 -14.538 h 42.044 42.043 v 14.538";
}
.iconClock {
  -fx-shape: "M 488 2.8007812 C 473.06667 3.8674479 447.46602 7.0665365 426.66602 10.533203 C 403.33268 14.39987 363.06641 26.40026 331.06641 38.933594 C 236.26641 75.866927 158.66706 136.8 100.40039 220 C 52.800391 288 20.000781 372.53268 6.8007812 460.66602 C 0.80078125 500.93268 -0.00065104167 545.20065 4.6660156 567.33398 C 5.8660156 572.40065 7.8673177 585.06589 9.3339844 595.19922 C 10.800651 605.46589 12.8 617.7332 14 622.5332 C 21.066667 653.19987 23.067318 661.06745 27.333984 674.80078 C 62.000651 785.06745 129.60026 878.80013 222.93359 945.4668 C 297.73359 999.0668 380.13307 1029.3341 477.06641 1038.8008 C 497.99974 1040.8008 562.53333 1039.5993 584 1036.666 C 731.46667 1016.666 850.13242 949.46758 933.73242 838.26758 C 988.53242 765.46758 1023.9999 677.59974 1038.5332 579.06641 C 1040.6665 564.53307 1040.3995 481.33333 1038.1328 462 C 1031.1995 404 1016.4001 353.33307 989.4668 295.06641 C 972.53346 258.39974 940.40065 210.40065 909.33398 175.33398 C 862.13398 122.13398 816.93268 88.132682 748.66602 54.666016 C 703.46602 32.399349 678.93268 23.733333 634.66602 14 C 585.06602 3.0666667 537.33333 -0.53255208 488 2.8007812 z M 482.66602 92.132812 C 497.99935 90.132812 548.00039 90.534115 568.40039 92.800781 C 619.46706 98.400781 670.40013 113.60013 717.4668 137.4668 C 787.60013 172.93346 844.80039 225.46758 888.40039 294.26758 C 905.60039 321.33424 929.46693 373.7332 936.93359 400.5332 C 951.46693 452.79987 956.80065 496.26732 953.33398 533.33398 C 952.53398 541.73398 951.46745 555.20065 950.80078 563.33398 C 949.73411 576.93398 948.39922 585.46602 943.19922 614.66602 C 935.06589 659.86602 914.66628 708.79935 885.59961 752.66602 C 864.53294 784.53268 852.40091 799.33346 826.26758 825.4668 C 782.40091 869.33346 736.26667 900.26667 682 922 C 663.33333 929.46667 638.93333 937.33333 626 940 C 621.6 940.8 614.66602 942.66667 610.66602 944 C 582.39935 953.46667 503.33268 954.66654 454.66602 946.5332 C 393.86602 936.39987 348.66667 919.20039 296 886.40039 C 250 857.73372 202.5332 813.46732 170.5332 769.33398 C 133.3332 718.13398 107.46615 658.26667 100.13281 606 C 99.332813 600.13333 97.999219 591.06667 97.199219 586 C 93.999219 564 93.467318 556.4 93.333984 528 C 93.333984 486.13333 96.132682 450.26667 100.66602 436 C 101.73268 432.66667 103.8668 423.99935 105.4668 416.66602 C 116.93346 363.33268 146.93268 301.86602 184.66602 254.66602 C 247.19935 176.13268 337.73411 119.73281 432.80078 100.13281 C 449.73411 96.666146 457.33268 95.332813 482.66602 92.132812 z M 512.93359 152 C 502.40026 152 493.33359 152.40026 492.93359 152.93359 C 492.40026 153.33359 492 223.8668 492 309.4668 L 492 465.06641 L 485.73242 469.06641 C 467.33242 480.93307 459.20091 497.86602 460.26758 522.66602 C 460.66758 533.46602 461.33359 536.66615 464.93359 544.13281 C 470.00026 554.93281 476.93359 562.80013 486.93359 569.4668 C 498.13359 576.6668 508.66628 579.06706 525.59961 578.40039 C 537.99961 578.00039 540.39948 577.46576 548.13281 573.73242 C 557.86615 568.93242 568.53424 558.66602 574.26758 548.66602 L 578.13281 542 L 730.40039 541.59961 L 882.66602 541.33398 L 882.66602 520.66602 L 882.66602 500 L 731.73242 500 C 648.66576 500 579.99922 499.46693 579.19922 498.93359 C 578.39922 498.40026 576.40026 495.59987 574.93359 492.5332 C 570.00026 482.79987 558.93333 474.79935 542 468.66602 C 538.4 467.33268 534.53242 465.60026 533.73242 464.93359 C 532.39909 464.00026 532 430.93385 532 307.86719 L 532 152 L 512.93359 152 z ";
}
.iconCalender {
  -fx-shape: "M 134.40039 1.3339844 L 129.06641 6.5332031 L 123.86719 11.867188 L 124.26758 102.93359 C 124.66758 186.53359 124.80026 194.40091 126.93359 198.26758 C 131.60026 206.53424 131.99974 206.66602 167.06641 206.66602 L 198.80078 206.66602 L 201.86719 203.33398 C 204.93385 200.13398 204.93385 199.59935 205.86719 152.66602 C 206.40052 126.53268 206.40052 83.200911 205.86719 56.267578 C 204.93385 7.7342448 204.93385 7.4670573 201.86719 4.4003906 C 198.80052 1.333724 198.39987 1.3339844 166.5332 1.3339844 L 134.40039 1.3339844 z M 746.26758 1.3339844 C 716.66758 1.3339844 715.06667 1.4670573 710 4.4003906 C 707.06667 6.0003906 703.99974 8.9326823 703.06641 10.666016 C 701.73307 13.199349 701.33398 34.534245 701.33398 104.26758 L 701.33398 194.40039 L 704.80078 198.66602 C 711.33411 206.39935 712.80065 206.66602 747.33398 206.66602 L 778.66602 206.66602 L 780.13281 202.93359 C 782.26615 197.20026 781.20026 8.2675781 778.93359 4.2675781 C 777.20026 1.3342448 777.06758 1.3339844 746.26758 1.3339844 z M 1.3339844 125.33398 L 1.3339844 196.66602 L 1.3339844 268 L 453.06641 267.73242 L 904.66602 267.33398 L 905.06641 196.26758 L 905.33398 125.33398 L 849.33398 125.33398 L 793.33398 125.33398 L 793.33398 169.86719 C 793.33398 209.60052 793.06641 214.53281 791.06641 216.13281 C 789.33307 217.59948 780.40078 218.13372 748.80078 218.40039 C 704.26745 218.93372 701.60039 218.53307 694.40039 211.06641 L 690 206.5332 L 689.59961 165.86719 L 689.19922 125.33398 L 454 125.33398 L 218.66602 125.33398 L 218.5332 153.59961 C 218.5332 169.19961 218.00013 188.53372 217.4668 196.40039 C 216.53346 209.60039 216.13359 211.06706 212.93359 214.40039 L 209.33398 218 L 169.59961 218.40039 C 126.93294 218.80039 122.00013 218.26706 117.4668 212.40039 C 114.80013 209.06706 114.66602 207.33255 114.66602 167.19922 L 114.66602 125.33398 L 58 125.33398 L 1.3339844 125.33398 z M 1.3339844 300 L 1.3339844 675.33398 L 1.3339844 1050.666 L 453.06641 1050.4004 L 904.66602 1050 L 904.66602 675.33398 L 904.66602 300.66602 L 453.06641 300.26758 L 1.3339844 300 z M 114.66602 412 L 190.66602 412 C 264.53268 412 266.66667 412.1332 268 414.5332 C 268.93333 416.39987 269.19974 441.86628 269.06641 491.59961 L 268.66602 566 L 191.73242 566.40039 L 114.66602 566.66602 L 114.66602 489.33398 L 114.66602 412 z M 288 412 L 365.33398 412 L 442.66602 412 L 442.66602 489.33398 L 442.66602 566.66602 L 365.33398 566.66602 L 288 566.66602 L 288 489.33398 L 288 412 z M 462.66602 412 L 540 412 L 617.33398 412 L 617.33398 489.33398 L 617.33398 566.66602 L 540 566.66602 L 462.66602 566.66602 L 462.66602 489.33398 L 462.66602 412 z M 715.86719 412.26758 L 792.66602 412.66602 L 793.06641 489.59961 L 793.33398 566.66602 L 715.33398 566.66602 L 637.33398 566.66602 L 637.33398 490.26758 C 637.33398 448.13424 637.73424 413.33359 638.26758 412.93359 C 638.66758 412.40026 673.73385 412.13424 715.86719 412.26758 z M 114.66602 586.66602 L 192 586.66602 L 269.33398 586.66602 L 269.33398 664 L 269.33398 741.33398 L 192 741.33398 L 114.66602 741.33398 L 114.66602 664 L 114.66602 586.66602 z M 366.26758 586.66602 L 442.66602 586.66602 L 442.66602 664 L 442.66602 741.33398 L 365.33398 741.33398 L 288 741.33398 L 288 664.93359 C 288 622.80026 288.40026 587.99961 288.93359 587.59961 C 289.33359 587.06628 324.13424 586.66602 366.26758 586.66602 z M 462.66602 586.66602 L 540 586.66602 L 617.33398 586.66602 L 617.33398 664 L 617.33398 741.33398 L 540 741.33398 L 462.66602 741.33398 L 462.66602 664 L 462.66602 586.66602 z M 715.59961 586.93359 L 792.66602 587.33398 L 793.06641 664.40039 L 793.33398 741.33398 L 715.73242 741.06641 L 638 740.66602 L 637.73242 665.33398 C 637.59909 623.86732 637.73333 589.20091 638 588.26758 C 638.53333 586.93424 654.66628 586.66693 715.59961 586.93359 z M 114.66602 752 L 192 752 L 269.33398 752 L 269.33398 833.86719 L 269.33398 915.73242 L 247.73242 916.66602 C 235.73242 917.06602 201.06602 917.33307 170.66602 917.06641 L 115.33398 916.66602 L 114.93359 834.26758 L 114.66602 752 z M 288 752 L 365.33398 752 L 442.66602 752 L 442.40039 834.26758 L 442 916.66602 L 380 917.06641 C 345.86667 917.33307 311.19974 917.06602 303.06641 916.66602 L 288 915.73242 L 288 833.86719 L 288 752 z M 462.66602 752 L 540 752 L 617.33398 752 L 617.06641 834.26758 L 616.66602 916.66602 L 540 916.66602 L 463.33398 916.66602 L 462.93359 834.26758 L 462.66602 752 z M 716.26758 752 L 793.33398 752 L 793.33398 834.66602 L 793.33398 917.33398 L 715.33398 917.33398 L 637.33398 917.33398 L 637.33398 835.59961 C 637.33398 790.53294 637.73424 753.33359 638.26758 752.93359 C 638.66758 752.40026 673.86758 752 716.26758 752 z ";
}
.iconRooms {
  -fx-shape: "M 0.57333368,313.28022 V 625.56144 H 26.854777 53.135223 V 336.46956 47.378666 H 203.09211 353.048 V 336.46956 625.56144 h 23.18933 23.18934 V 313.28022 1 H 200 0.57333368 V 313.28022 M 325.221,58.551545 c 0,0 -80.59529,12.690515 -155.36733,23.47551 l -45.60489,6.578088 V 392.64007 c 0,167.21826 1.00411,304.03393 2.23158,304.03393 8.32208,0 210.34528,-69.61985 213.42742,-73.55055 4.14309,-5.28281 1.43115,-567.026289 1.43115,-567.026289 L 325.221,58.551545 M 180.06621,384.26734 c 28.76217,2.65098 18.74022,34.13766 0.87259,34.13766 -22.46242,0 -25.2285,-31.20323 -0.87259,-34.13766";
}
.iconEarning {
  -fx-shape: "M 870 0 L 884.40039 14.400391 L 898.66602 28.666016 L 735.33398 192 L 572 355.33398 L 492.93359 276.26758 C 449.46693 232.93424 412.93242 197.33398 411.73242 197.33398 C 409.06576 197.33398 361.06693 244.39922 158.93359 445.19922 L 1.3339844 601.73242 L 1.3339844 635.59961 C 1.3339844 654.13294 1.8670573 669.33398 2.4003906 669.33398 C 3.333724 669.33398 177.33424 496.93359 368.26758 306.93359 L 409.06641 266.26758 L 421.59961 278 C 428.39961 284.53333 464.66758 320.00026 502.26758 356.93359 C 539.73424 393.86693 571.06576 424 571.73242 424 C 572.53242 424 653.73424 343.06667 752.26758 244 C 850.66758 145.06667 931.86602 64 932.66602 64 C 933.33268 64 941.06628 71.066276 949.59961 79.599609 L 965.33398 95.333984 L 965.33398 47.599609 L 965.33398 0 L 917.73242 0 L 870 0 z M 964.40039 142.66602 C 963.73372 142.66602 927.19974 178.80026 883.06641 222.93359 L 802.66602 303.06641 L 802.66602 619.4668 L 802.66602 936 L 884 936 L 965.33398 936 L 965.33398 539.33398 C 965.33398 321.20065 964.93372 142.66602 964.40039 142.66602 z M 760.13281 341.33398 C 759.46615 341.33398 756.26641 344.26719 753.06641 347.86719 C 746.79974 355.06719 726.40052 376.66667 675.86719 430 C 657.86719 449.06667 635.20013 473.06732 625.4668 483.33398 L 608 501.86719 L 608 718.93359 L 608 936 L 684.66602 936 L 761.33398 936 L 761.33398 638.66602 C 761.33398 460.93268 760.79948 341.33398 760.13281 341.33398 z M 404.26758 378.66602 C 403.06758 378.66602 402.66602 446.40065 402.66602 657.33398 L 402.66602 936 L 484.40039 935.73242 L 566 935.33398 L 566.40039 737.33398 L 566.66602 539.33398 L 486.26758 458.93359 C 442.00091 414.80026 405.06758 378.66602 404.26758 378.66602 z M 369.59961 413.33398 C 369.06628 413.33398 332.13294 449.73372 287.59961 494.40039 L 206.66602 575.33398 L 206.66602 755.73242 L 206.66602 936 L 288.66602 936 L 370.66602 936 L 370.66602 674.66602 C 370.66602 530.93268 370.26628 413.33398 369.59961 413.33398 z M 163.33398 615.19922 C 162.66732 614.93255 125.73398 650.66654 81.333984 694.5332 L 0.66601562 774.40039 L 0.66601562 854.80078 L 0.66601562 935.33398 L 82.267578 935.73242 L 164 936 L 164.66602 933.06641 C 165.99935 927.33307 164.80065 615.59922 163.33398 615.19922 z ";
}

.HBoxStyle {
  -fx-background-color:#212529;
  -fx-background-radius: 0 0 4 4;
}

.HBoxStyle_2 {
  -fx-background-color:#212529;
  -fx-background-radius: 4 4 0 0;
}

.table-view {
  -fx-background-color: #343a40;
  -fx-border-color: #212529;
  -fx-border-width: 2px;
  -fx-table-cell-border-color: transparent;
  -fx-border-radius: 4 4 0 0;
  -fx-background-radius: 4 4 0 0;
}

.tableViewStyle_2 {
  -fx-background-color: #343a40;
  -fx-border-color: #212529;
  -fx-border-width: 2px;
  -fx-table-cell-border-color: transparent;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}

.table-view .column-header {
  -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: #212529;
  -fx-background-radius: 4 4 0 0;
}

.table-view .column-header-background .label{
  -fx-alignment: center-left;
  -fx-text-fill: white;
}

.table-view .filler{
  -fx-background-color: transparent;
}

.table-view .table-cell{
  -fx-text-fill: white;
}

.table-row-cell{
  -fx-background-color: -fx-table-cell-border-color, #343a40;
}

.table-row-cell:odd{
  -fx-background-color: -fx-table-cell-border-color, #212529;
}

.table-row-cell:selected {
  -fx-background-color: black;
  -fx-table-cell-border-color: transparent;
}

.titled-pane > .title
{
  -fx-background-color: #212529;
}

.titled-pane > *.content 
{
-fx-background-color: #212529;
-fx-background-border: 2px;
-fx-box-border: transparent;
-fx-background-radius: 0 0 4 4;
 }

.titled-pane > .title > .text
{
  -fx-fill: white;
}

.text-area   {
  -fx-text-fill: white;
}

.text-area .content{
  -fx-background-color: #343a40;
  -fx-border-color: transparent;
  -fx-text-fill: white;
  -fx-background-radius: 0;
}

.table-row-cell:empty {
  -fx-background-color: transparent;
}

.text-field {
  -fx-background-color: #343a40;
  -fx-text-fill: white;
}

.combo-box {
  -fx-background-color: #343a40;
  -fx-border-color: white;
  -fx-border-radius: 2 2 2 2;
}

.combo-box .arrow{
  -fx-background-color: white;
}

.combo-box .list-cell{
  -fx-background-color:#343a40;
  -fx-text-fill: white;
}

.combo-box .list-cell:hover{
  -fx-background-color:black;
}

.combo-box .list-view .list-cell {
  -fx-text-fill: white;
}

.check-box > .box {
  /* background color of unselected checkbox */
  -fx-background-color: #343a40;
  -fx-border-color: white;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
  /* modify mark color */
  -fx-background-color: white;
}

.date-picker > .arrow-button {
  -fx-background-color: #343a40;
}

.date-picker .arrow-button > .arrow {
  -fx-background-color: #ffffff;
  -fx-scale-x: 1.75;
  -fx-scale-y: 1.75;
  -fx-translate-y: -2;
  -fx-shape: "M 134.40039 1.3339844 L 129.06641 6.5332031 L 123.86719 11.867188 L 124.26758 102.93359 C 124.66758 186.53359 124.80026 194.40091 126.93359 198.26758 C 131.60026 206.53424 131.99974 206.66602 167.06641 206.66602 L 198.80078 206.66602 L 201.86719 203.33398 C 204.93385 200.13398 204.93385 199.59935 205.86719 152.66602 C 206.40052 126.53268 206.40052 83.200911 205.86719 56.267578 C 204.93385 7.7342448 204.93385 7.4670573 201.86719 4.4003906 C 198.80052 1.333724 198.39987 1.3339844 166.5332 1.3339844 L 134.40039 1.3339844 z M 746.26758 1.3339844 C 716.66758 1.3339844 715.06667 1.4670573 710 4.4003906 C 707.06667 6.0003906 703.99974 8.9326823 703.06641 10.666016 C 701.73307 13.199349 701.33398 34.534245 701.33398 104.26758 L 701.33398 194.40039 L 704.80078 198.66602 C 711.33411 206.39935 712.80065 206.66602 747.33398 206.66602 L 778.66602 206.66602 L 780.13281 202.93359 C 782.26615 197.20026 781.20026 8.2675781 778.93359 4.2675781 C 777.20026 1.3342448 777.06758 1.3339844 746.26758 1.3339844 z M 1.3339844 125.33398 L 1.3339844 196.66602 L 1.3339844 268 L 453.06641 267.73242 L 904.66602 267.33398 L 905.06641 196.26758 L 905.33398 125.33398 L 849.33398 125.33398 L 793.33398 125.33398 L 793.33398 169.86719 C 793.33398 209.60052 793.06641 214.53281 791.06641 216.13281 C 789.33307 217.59948 780.40078 218.13372 748.80078 218.40039 C 704.26745 218.93372 701.60039 218.53307 694.40039 211.06641 L 690 206.5332 L 689.59961 165.86719 L 689.19922 125.33398 L 454 125.33398 L 218.66602 125.33398 L 218.5332 153.59961 C 218.5332 169.19961 218.00013 188.53372 217.4668 196.40039 C 216.53346 209.60039 216.13359 211.06706 212.93359 214.40039 L 209.33398 218 L 169.59961 218.40039 C 126.93294 218.80039 122.00013 218.26706 117.4668 212.40039 C 114.80013 209.06706 114.66602 207.33255 114.66602 167.19922 L 114.66602 125.33398 L 58 125.33398 L 1.3339844 125.33398 z M 1.3339844 300 L 1.3339844 675.33398 L 1.3339844 1050.666 L 453.06641 1050.4004 L 904.66602 1050 L 904.66602 675.33398 L 904.66602 300.66602 L 453.06641 300.26758 L 1.3339844 300 z M 114.66602 412 L 190.66602 412 C 264.53268 412 266.66667 412.1332 268 414.5332 C 268.93333 416.39987 269.19974 441.86628 269.06641 491.59961 L 268.66602 566 L 191.73242 566.40039 L 114.66602 566.66602 L 114.66602 489.33398 L 114.66602 412 z M 288 412 L 365.33398 412 L 442.66602 412 L 442.66602 489.33398 L 442.66602 566.66602 L 365.33398 566.66602 L 288 566.66602 L 288 489.33398 L 288 412 z M 462.66602 412 L 540 412 L 617.33398 412 L 617.33398 489.33398 L 617.33398 566.66602 L 540 566.66602 L 462.66602 566.66602 L 462.66602 489.33398 L 462.66602 412 z M 715.86719 412.26758 L 792.66602 412.66602 L 793.06641 489.59961 L 793.33398 566.66602 L 715.33398 566.66602 L 637.33398 566.66602 L 637.33398 490.26758 C 637.33398 448.13424 637.73424 413.33359 638.26758 412.93359 C 638.66758 412.40026 673.73385 412.13424 715.86719 412.26758 z M 114.66602 586.66602 L 192 586.66602 L 269.33398 586.66602 L 269.33398 664 L 269.33398 741.33398 L 192 741.33398 L 114.66602 741.33398 L 114.66602 664 L 114.66602 586.66602 z M 366.26758 586.66602 L 442.66602 586.66602 L 442.66602 664 L 442.66602 741.33398 L 365.33398 741.33398 L 288 741.33398 L 288 664.93359 C 288 622.80026 288.40026 587.99961 288.93359 587.59961 C 289.33359 587.06628 324.13424 586.66602 366.26758 586.66602 z M 462.66602 586.66602 L 540 586.66602 L 617.33398 586.66602 L 617.33398 664 L 617.33398 741.33398 L 540 741.33398 L 462.66602 741.33398 L 462.66602 664 L 462.66602 586.66602 z M 715.59961 586.93359 L 792.66602 587.33398 L 793.06641 664.40039 L 793.33398 741.33398 L 715.73242 741.06641 L 638 740.66602 L 637.73242 665.33398 C 637.59909 623.86732 637.73333 589.20091 638 588.26758 C 638.53333 586.93424 654.66628 586.66693 715.59961 586.93359 z M 114.66602 752 L 192 752 L 269.33398 752 L 269.33398 833.86719 L 269.33398 915.73242 L 247.73242 916.66602 C 235.73242 917.06602 201.06602 917.33307 170.66602 917.06641 L 115.33398 916.66602 L 114.93359 834.26758 L 114.66602 752 z M 288 752 L 365.33398 752 L 442.66602 752 L 442.40039 834.26758 L 442 916.66602 L 380 917.06641 C 345.86667 917.33307 311.19974 917.06602 303.06641 916.66602 L 288 915.73242 L 288 833.86719 L 288 752 z M 462.66602 752 L 540 752 L 617.33398 752 L 617.06641 834.26758 L 616.66602 916.66602 L 540 916.66602 L 463.33398 916.66602 L 462.93359 834.26758 L 462.66602 752 z M 716.26758 752 L 793.33398 752 L 793.33398 834.66602 L 793.33398 917.33398 L 715.33398 917.33398 L 637.33398 917.33398 L 637.33398 835.59961 C 637.33398 790.53294 637.73424 753.33359 638.26758 752.93359 C 638.66758 752.40026 673.86758 752 716.26758 752 z ";
}

.date-picker-popup > .month-year-pane {
  -fx-base: #212529;
  -fx-border-color: white;
  -fx-mark-highlight-color: -fx-light-text-color;
}

.date-picker .cell {
  -fx-background-color: #343a40;
  -fx-text-fill: white;
}

.date-picker .cell:focused {
  -fx-background-color:#212529;
}

.slider .thumb {
  -fx-shape: "M837 2014 c-208 -37 -383 -129 -532 -279 -130 -129 -215 -277 -263 -454 -22 -84 -25 -116 -25 -251 0 -135 3 -167 25 -251 77 -284 273 -524 533 -649 386 -185 838 -108 1140 195 88 87 140 160 196 273 l36 73 299 175 c164 97 300 177 301 178 1 1 -132 80 -296 176 l-299 175 -35 75 c-101 211 -269 382 -472 480 -187 89 -409 120 -608 84z";
  -fx-translate-x: 3;
  -fx-padding: 15;
}

.slider .track {
  -fx-padding: 3;
}